.b-container {
  background-color: #f4f5fa;
  border-radius: 1rem;

  width: 360px;
  height: 400px;

  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.button-container {
  width: 100%;

}

.button-type {
  width: 100%;
  padding: 1rem 0;
  background: none;
  border-radius: 1rem;

  font-weight: 400;
  font-size: large;

  color: #ffffff;
  
}

.green {
  background-color: hsla(120, 100%, 25%, 0.6);
}
.green:hover {
  background-color: hsla(120, 100%, 25%);
}
.red {
  background-color: hsl(0, 100%, 50%, 0.6);
}
.red:hover  {
  background-color: hsl(0, 100%, 50%);
}
.orange {
  background-color: hsl(39, 100%, 50%, 0.6);
}
.orange:hover  {
  background-color: hsl(39, 100%, 50%);
}
.blue {
  background-color: hsl(240, 100%, 50%, 0.6);
}
.blue:hover  {
  background-color: hsl(240, 100%, 50%);
}